{% extends "layouts.html" %} {% block title %}Books{% endblock %} {% block content %} {% load static %}
<div class="tm-blog-img-container">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="our_books">
                    <h3>বাংলা সাহিত্য</h3>
                    <p>নবম-দশম শ্রেণি</p>
                    <img src="{% static 'img/images.jpg' %}" width="300" height="100" class="img-fluid " alt="image"><br>
                    <a href="https://drive.google.com/file/d/19EulOahnufpntOQtRTmgheoZSdd-NpxS/view?usp=sharing" target="_blank ">Download</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="our_books">
                    <h3>গণিত</h3>
                    <p>নবম-দশম শ্রেণি</p>
                    <img src="{% static 'img/Photo_1590985604665-1.jpg' %}" width="300" height="100" class="img-fluid " alt="image"><br>
                    <a href="https://drive.google.com/file/d/1C6wa3wi3cHlXbICkAw7LK3BaPxQIkK4Q/view?usp=sharing" target="_blank ">Download</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="our_books">
                    <h3>তথ্য ও যোগাযোগ প্রযুক্তি</h3>
                    <p>নবম-দশম শ্রেণি</p>
                    <img src="{% static 'img/maxresdefault.jpg' %}" width="300" height="100" class="img-fluid " alt="image"><br>
                    <a href="https://drive.google.com/file/d/1_r71dbguNo_NHLSvy6dg-vTRpEkaQYnv/view?usp=sharing" target="_blank">Download</a>
                </div>
            </div>

        </div>
    </div>

</section>

{% endblock %}