{% extends "layouts.html" %} {% block title %}Books{% endblock %} {% block content %} {% load static %}
<div class="tm-blog-img-container">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">
            <div class="botice_board">
                {% for b in book_list %}
                <h3>{{b.title}}</h3>
                <img src="{{ b.image.url }}" class="img-fluid" alt="">
                <a href="{{ n.pdf.url }}"></a> {% endfor %}
            </div>
        </div>
    </div>

</section>

{% endblock %}