{% extends "layouts.html" %} {% block title %}Classes{% endblock %} {% block content %} {% load static %}
<div class="tm-blog-img-container">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-">
                    <div class="our_classes">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}