{% extends "layouts.html" %} {% block title %} Exam and Profile{% endblock %} {% block content %} {% load static %}
<div class="tm-blog-img-container">
</div>
<!-- ======= Blog ======= -->
<section class="tm-section">
    <div class="container-fluid">
        <div class="row">




            <div class="col-md-12 card mt-4 ">
                <h3 class="tm-green-text text-center ">
                    Useful Links
                </h3>
                <hr class="tm-margin-t-small ">
                <nav>
                    <ul class="nav ">
                        <li>
                            <a href="# " class="tm-text-link ">পরীক্ষায় ভালো মার্ক পেতে হলে অনেক পড়তে হবে</a><br>
                            <a href="# " class="tm-text-link ">সবথেকে ভালো যে তার অবস্থান সবসময়ই উপরে</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        </aside>

    </div>
    </div>

</section>
<!-- ======= End Blog ======= -->
{% endblock %}